.dark-mode {
  background-color: #282C34 !important;
  color: white;
  position: absolute;
  height: fit-content;
  min-height: 100%;
  width: 100%;
}

.dark-mode a:visited {
  color: #d580ff !important;
}

.dark-mode .navbar a {
  color: white !important;
}

.container-fluid {
  max-width: 780px;
}

.site-title {
  color: #424242 !important;
  font-size: 20pt !important;
}

a {
  text-decoration-line: none !important;
}

a:hover {
  text-decoration-line: underline !important;
}

.figure-text {
  justify-content: center;
  display: flex;
  padding-top: 1rem;
}

.page-title {
  padding-bottom: 2rem;
}
