.container-fluid {
  max-width: 780px;
}

.site-title {
  color: #424242 !important;
  font-size: 20pt !important;
}

a {
  text-decoration-line: none !important;
}

a:hover {
  text-decoration-line: underline !important;
}

.figure-text {
  justify-content: center;
  display: flex;
  padding-top: 1rem;
}
